.eventSectionContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f1fafc;
  direction: rtl;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 40px;
}

.sectionTitleContainer {
  margin-bottom: 65px;
}

.sectionTitle {
  font-family: "Fraunces", "Vazir";
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 7px;
  color: #707070;
}

@media screen and (max-width: 760px) {
  .eventSectionContainer {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .underLineImage {
    width: 200px;
  }
}
